/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/

body {
	margin: 0;
    font-size: 18px;
    font-family: "Lora", sans-serif;
    line-height: 1.5;
}

/*hlavička*/

header {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    width: 1100px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu a {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    color: rgb(44, 44, 44);
}

.menu a:hover {
    background-color: #d2567d;
    color: white;
}

#logo {
    width: 170px;
}

/*hero*/

.nadpis {
    background-image: url(images/cupcake.jpg);
    background-size: cover;
}

.nadpisText {
    color: white;
    width: 1100px;
    margin: 0 auto;
    padding: 80px 40% 80px 0;
}

.nadpis h1 {
    font-size: 52px;
    font-family: "Playfair Display", sans-serif;
    margin: 0 0 30px 0;
}

.nadpis p {
    font-size: 24px;
    font-style: italic;
}

/*sekce*/

h2 {
    font-size: 36px;
    font-family: "Playfair Display", sans-serif;
    color: #3e606b;
    margin: 0;
}

img {
    border-radius: 5px;
}

/*sekce Vítejte*/

.vitejte {
    display: flex;
    margin: 80px auto;
    width: 1100px;
    align-items: center;
}

.vitejteText {
    padding-right: 30px;
}

.vitejte .tlacitko {
    display: inline-block;
    background-color: #f195b2;
    text-decoration: none;
    color: white;
    padding: 15px 40px;
    border-radius: 30px;
}

.vitejte .tlacitko:hover {
    background-color: #d2567d;
}

/*sekce Dnešní nabídka*/

.nabidka {
    background-color: #c7c7c7;
}

.nabidkaText {
    margin: 0 auto;
    padding: 80px 0;
    width: 1100px;
}

.produkty {
    display: flex;
    justify-content: space-between;
}

.produkty img {
    width: 100%;
}

.produkty h3 {
    font-size: 24px;
    font-family: "Playfair Display", sans-serif;
    color: #3e606b;
}

.polozka {
    flex-basis: 22%;
    text-align: center;
}

/*sekce Náš přístup*/

.oNas {
    display: flex;
    margin: 80px auto;
    width: 1100px;
    align-items: center;
}

.vlevo img {
    width: 530px;
}

.vpravo {
    padding-left: 30px;
}

/*patička*/

footer {
    background-color: #303339;
    color: white;
    padding: 30px;
    text-align: center;
}